@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_WebsiteManagement.cshtml";
}

<h2>App Pools Managemens</h2>

<h3>Please work with this section only if you know what you are doing!!!!!!!</h3>



<input type="button" value="START HYPSTER!!!!" onclick="if(confirm('Only Start Hypster if you see 503 Service Unavailable')){ window.location='/manageAppPools/StartApplicationPool' }" />
