
<div style="float:left; text-align:center;"> 

    <a href="/home" style="display:block; float:left; width:110px; height:60px; line-height:60px; background-color:#787878; border-radius:2px; color:#FFFFFF; font-size:20px; margin-left:10px; cursor:pointer; text-decoration:none;">
        Home 
    </a>

    <a href="/WebsiteManagement/homeWebsite" style="display:block; float:left; width:170px; height:60px; line-height:60px; background-color:#787878; border-radius:2px; color:#FFFFFF; font-size:20px; margin-left:10px; cursor:pointer; text-decoration:none;">
        Hypster Website
    </a>

    <a href="/VideoManagement/homeVideo" style="display:block; float:left; width:150px; height:60px; line-height:60px; background-color:#787878; border-radius:2px; color:#FFFFFF; font-size:20px; margin-left:10px; cursor:pointer; text-decoration:none;">
        Hypster Video
    </a>

    <a href="/NewsManagement/homeNews" style="display:block; float:left; width:150px; height:60px; line-height:60px; background-color:#787878; border-radius:2px; color:#FFFFFF; font-size:20px; margin-left:10px; cursor:pointer; text-decoration:none;">
        Hypster News
    </a>
</div>