
@{
    ViewBag.Title = "delelePlaylistSong";
    Layout = "~/Views/Shared/_Layout_Editors.cshtml";
}

<h2>Delele Playlist Song</h2>

<p>You are in the view after deletePlaylist Song.</p>
<p><a href="/Editors/managePlaylist/">Go Back</a>.</p>