<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-hypster_tv-20120801164225;Integrated Security=SSPI" />
	<add name="Hypster_Entities" connectionString="metadata=res://*/hypster_tv_MODEL.csdl|res://*/hypster_tv_MODEL.ssdl|res://*/hypster_tv_MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=HypsterNew;Integrated Security=SSPI;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<!--add name="Hypster_Entities" connectionString="metadata=res://*/hypster_tv_MODEL.csdl|res://*/hypster_tv_MODEL.ssdl|res://*/hypster_tv_MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=HypsterNew;User Id=HypUser;Password=alameDa#503M.s.P.z30;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
  </connectionStrings>
  
  
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <!-- System.Configuration.ConfigurationManager.AppSettings[""] -->
	<add key="ConnectionString" value="Data Source=localhost; Initial Catalog=HypsterNew; Integrated Security=SSPI;"/>
	  
    <add key="isPRODUCTION" value="FALSE" />

    <add key="videoHostName" value="tv.hypster.com" />
    <add key="hypsterHostName" value="hypster.com" /> <!-- hypster.com-->
    <add key="newsHostName" value="news.hypster.com" /> <!-- news.hypster.com -->

    <add key="hypAdmin_UserName" value="hypadmin" />
    <add key="hypAdmin_Pass" value="g5DzBPHqUmw8" />


	  <add key="appPoolName" value="hypster_new.com" />
	  <!--add key="appPoolName" value="stagetest.hypster.com" /-->

    
    <add key="newsImageStorage_Path" value="D:\WEBS\news.hypster.com\imgs\i_posts" />
    <add key="videoSlideshowStorage_Path" value="D:\WEBS\tv.hypster.com\imgs\slideshow" />
    
    <add key="videoClipsStorage_Path" value="D:\WEBS\tv.hypster.com\uploads" />
    <add key="videoClipsPending_Path" value="D:\WEBS\tv.hypster.com\uploads_pending" />
    <add key="videoCoversStorage_Path" value="D:\WEBS\tv.hypster.com\uploads\covers" />

	  
	<add key="MusicGenreStorage_Path" value="D:\WEBS\hypster_new.com\imgs\radio\genres" />
	<add key="ManualsStorage_Path" value="D:\WEBS\hypster_new.com\imgs\manuals" />


	<add key="homeSlideshowStorage_Path"  value="D:\WEBS\hypster_new.com\imgs\home\home_slideshow" />

	<add key="visualSearchStorage_Path"  value="D:\WEBS\hypster_new.com\imgs\visualSearch" />
	
	  
	  
    <add key="postImage_maxWidth" value="320" />
    <add key="postThumb_maxWidth" value="160" />
    

    <add key="videoThumbnail_Width" value="278" />
    <add key="videoThumbnail_Height" value="168" />

	<add key="newPostImage_maxWidth" value="585" />

	  
	<!-- SERVER -->
	<add key="server_ID" value=".109" />


	<add key="newsCelebsImageStorage_Path" value="D:\WEBS\news.hypster.com\imgs\i_celebs" />
	<add key="postCelebImage_maxWidth" value="710" />
	<add key="postCelebThumb_maxWidth" value="300" />

	<add key="sitemap_newsNum" value="30000" />

	<add key="sitemap_newsID" value="4" />
    
  </appSettings>
  
  
  
  <system.web>

	

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    
    
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>

    <httpRuntime requestValidationMode="2.0" maxRequestLength="51048576" />

	  <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>


  </system.web>

	

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
            <remove name="Helicon.Ape" />
        </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="90000000" />
      </requestFiltering>
    </security>
        <handlers>
            <remove name="Helicon.Ape Handler" />
        </handlers>

  </system.webServer>
  
  
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  
</configuration>