@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_VideoManagement.cshtml";
}



<div style=" float:left; width:28%; min-height:300px; background-color:#353535; border-radius:3px; padding:1%; text-align:left;">

    <div style=" float:left; width:100%;">
        <h2>Video Management</h2>
    </div>

    <div style=" float:left; width:97%; min-height:23px; background-color:#656565; color:#FCF088; font-weight:bold; margin:2px 0 0 0; padding:2px; cursor:pointer;" onclick="window.location='/VideoManagement/featuredVideo';">
        &nbsp;Featured Video
    </div>

    <div style=" float:left; width:97%; min-height:23px; background-color:#656565; color:#FCF088; font-weight:bold; margin:2px 0 0 0; padding:2px; cursor:pointer;" onclick="window.location='/VideoManagement/pendingVideo';">
        &nbsp;New Pending Videos
    </div>

    <div style=" float:left; width:97%; min-height:23px; background-color:#656565; color:#FCF088; font-weight:bold; margin:2px 0 0 0; padding:2px; cursor:pointer;" onclick="window.location='/VideoManagement/uploadedVideo';">
        &nbsp;All Videos
    </div>

</div>



<div style=" float:left; width:67%; min-height:550px; min-height:300px; background-color:#353535; border-radius:3px; padding:1%; margin-left:1%; text-align:left; ">
    Details
</div>
