@{
    ViewBag.Title = "Generate_Hypster_Website_RU";
    Layout = "~/Views/Shared/_Layout_WebsiteManagement.cshtml";
}

<div style=" float:left; width:28%; min-height:630px; background-color:#353535; border-radius:3px; padding:1%; text-align:left;">
    

    <div style=" float:left; width:100%;">
        <h2 style=" margin-bottom:5px;">Generate_Hypster_Website_RU</h2>
    </div>

</div>


<div style=" float:left; width:67%; min-height:630px; background-color:#353535; border-radius:3px; padding:1%; margin-left:1%; text-align:left; ">



       
<textarea style=" float:left; width:100%; height:450px;">

<!-- Generate_Hypster_Website_RU -->

  <url>
    <loc>http://hypster.com/ru/Главная</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Слушать</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Создать/Плейлист</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Соединить</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Аккаунт/Регистрация</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Аккаунт/Войти</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Хипстер/Плеер_для_Тумблера</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Хипстер/Как_использовать</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Хипстер/Хипстер_на_мобильном</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Слушать/Радио</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Хипстер/Контакты</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Хипстер/Про_Нас</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Хипстер/Конфиденциальность</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Хипстер/Пользовательское_Соглашение</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Чарты</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/ru/Фестивали</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

</textarea>






</div>
