@{
    ViewBag.Title = "Index";
}





<a href="/home" style=" display:block; float:left; width:275px; height:100px; line-height:90px; background-color:#787878; border-radius:2px; color:#FFFFFF; font-size:23px; margin-left:0px; cursor:pointer; text-decoration:none;">
    HOME 
</a>

<a href="/WebsiteManagement/homeWebsite" style=" display:block; float:left; width:275px; height:100px; line-height:90px; background-color:#787878; border-radius:2px; color:#FFFFFF; font-size:23px; margin-left:10px; cursor:pointer; text-decoration:none;">
    Hypster Website
</a>

<a href="/VideoManagement/homeVideo" style=" display:block; float:left; width:275px; height:100px; line-height:90px; background-color:#787878; border-radius:2px; color:#FFFFFF; font-size:23px; margin-left:10px; cursor:pointer; text-decoration:none;">
    Hypster Video
</a>

<a href="/NewsManagement/homeNews" style=" display:block; float:left; width:275px; height:100px; line-height:90px; background-color:#787878; border-radius:2px; color:#FFFFFF; font-size:23px; margin-left:10px; cursor:pointer; text-decoration:none;">
    Hypster News
</a>

