@{
    ViewBag.Title = "Index";
    hypster_tv_DAL.Member member = new hypster_tv_DAL.Member();
}
<style type="text/css">
    .selectTabs 
    {
        display: block;
        float: left;
        width:170px;
        height: 50px;
        line-height: 50px;
        background-color: #787878;
        border-radius: 2px;
        color: #FFFFFF;
        font-size: 22px;
        margin-left: 10px;
        cursor: pointer;
        text-decoration: none;
    }
</style>
<h1>Hypster Admin website</h1>

<p>
@if (User.Identity.IsAuthenticated)
{
    <a href="/home" class="selectTabs">
        HOME
    </a>
    if (Session["Roles"] != null && (Session["Roles"].Equals("Editor") || Session["Roles"].Equals("Admin")))
    {
        <a href="/Editors/editor" class="selectTabs">
            Editor
        </a>
        if (Session["Roles"].Equals("Admin"))
        {
            <a href="/Administrators/manageUsers" class="selectTabs">
                Administrator
            </a>
            <a href="/WebsiteManagement/homeWebsite" class="selectTabs">
                Hypster Website
            </a>

            <a href="/VideoManagement/homeVideo" class="selectTabs">
                Hypster Video
            </a>

            <a href="/NewsManagement/homeCelebs" class="selectTabs">
                Hypster News
            </a>
        }
    }
}
</p>