@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_WebsiteManagement.cshtml";
}


<div style="float:left; width:100%; min-height:200px; background-color:#454545; border-radius:2px;">

</div>