@{
    ViewBag.Title = "Generate_Hypster_Website_EN";
    Layout = "~/Views/Shared/_Layout_WebsiteManagement.cshtml";
}



<div style=" float:left; width:28%; min-height:630px; background-color:#353535; border-radius:3px; padding:1%; text-align:left;">
    

    <div style=" float:left; width:100%;">
        <h2 style=" margin-bottom:5px;">Generate_Hypster_Website_EN</h2>
    </div>

</div>


<div style=" float:left; width:67%; min-height:630px; background-color:#353535; border-radius:3px; padding:1%; margin-left:1%; text-align:left; ">



       
<textarea style=" float:left; width:100%; height:450px;">

<!-- Generate_Hypster_Website_EN -->

<url>
    <loc>http://hypster.com/</loc>
    <changefreq>daily</changefreq>
    <priority>1.00</priority>
  </url>
  <url>
    <loc>http://hypster.com/listen</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/create</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/connect</loc>
    <lastmod>2013-03-21T23:03:06+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/account/Register</loc>
    <lastmod>2013-03-21T23:04:07+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/account/SignIn</loc>
    <lastmod>2013-03-21T23:04:08+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/hypster/New_Player_For_Tumblr</loc>
    <lastmod>2013-03-21T23:04:08+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/hypster/How_To_Use</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/hypster/Hypster_On_Mobile</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/listen/radio</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/hypster/Contact_Us</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/hypster/About_Us</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/hypster/Privacy_Policy</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/hypster/Terms_of_Service</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>



  <url>
    <loc>http://hypster.com/content/HypNews</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/charts</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>http://hypster.com/festivals</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/resources/manuals</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/listen?PLST=1</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>





  <url>
    <loc>http://hypster.com/Tumblr_Music_Player?rtg=x154</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/create/create_music_player</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/create/create_playlist_online</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>


  <url>
    <loc>http://hypster.com/featured</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/playlists</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>


</textarea>






</div>