@{
    ViewBag.Title = "Generate_Hypster_Website_ES";
    Layout = "~/Views/Shared/_Layout_WebsiteManagement.cshtml";
}



<div style=" float:left; width:28%; min-height:630px; background-color:#353535; border-radius:3px; padding:1%; text-align:left;">
    

    <div style=" float:left; width:100%;">
        <h2 style=" margin-bottom:5px;">Generate_Hypster_Website_ES</h2>
    </div>

</div>


<div style=" float:left; width:67%; min-height:630px; background-color:#353535; border-radius:3px; padding:1%; margin-left:1%; text-align:left; ">



       
<textarea style=" float:left; width:100%; height:450px;">

<!-- Generate_Hypster_Website_ES -->

  <url>
    <loc>http://hypster.com/es/Casa</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/es/Escucha</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/es/crear</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/es/Conectar</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/es/Cuenta/Registrar</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/es/Cuenta/Registrarse</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/es/hypsterEs/Nuevo_Reproductor_Tumblr</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/es/Escucha/radio</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/es/hypsterEs/Contact_Us</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/es/hypsterEs/About_Us</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/es/hypsterEs/Privacy_Policy</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/ru/Хипстер/Пользовательское_Соглашение</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/es/Gráficas_Listas</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>

  <url>
    <loc>http://hypster.com/es/Festivales</loc>
    <changefreq>daily</changefreq>
    <priority>0.80</priority>
  </url>


</textarea>






</div>