@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_WebsiteManagement.cshtml";
}




<div style=" float:left; width:28%; min-height:630px; background-color:#353535; border-radius:3px; padding:1%; text-align:left;">
    

    <div style=" float:left; width:100%;">
        <h2 style=" margin-bottom:5px;">Manage Sitemap</h2>
    </div>


    <div style=" float:left; width:100%;">
        <a href="/WebsiteManagement/manageSitemap/Generate_Hypster_Website_EN" style=" display:block; width:100%; height:21px; background-color:#545454; margin-top:4px; ">Hypster Website</a>
        <!--a href="/WebsiteManagement/manageSitemap/Generate_Hypster_Website_RU" style=" display:block; width:100%; height:21px; background-color:#545454; margin-top:4px; ">Hypster Website RU</a-->
        <!--a href="/WebsiteManagement/manageSitemap/Generate_Hypster_Website_ES" style=" display:block; width:100%; height:21px; background-color:#545454; margin-top:4px; ">Hypster Website ES</a-->
        <br />
        <a href="/WebsiteManagement/manageSitemap/Generate_Hypster_News" style=" display:block; width:100%; height:21px; background-color:#545454; margin-top:4px; ">Hypster Breaking</a>
        <a href="/WebsiteManagement/manageSitemap/Generate_Hypster_Charts" style=" display:block; width:100%; height:21px; background-color:#545454; margin-top:4px; ">Hypster Charts</a>
        <a href="/WebsiteManagement/manageSitemap/Generate_Hypster_Festivals" style=" display:block; width:100%; height:21px; background-color:#545454; margin-top:4px; ">Hypster Festivals</a>
        <a href="/WebsiteManagement/manageSitemap/Generate_Hypster_Manuals" style=" display:block; width:100%; height:21px; background-color:#545454; margin-top:4px; ">Hypster Manuals</a>

        <a href="/WebsiteManagement/manageSitemap/Generate_Hypster_Stations" style=" display:block; width:100%; height:21px; background-color:#545454; margin-top:4px; ">Hypster Stations</a>
        <a href="/WebsiteManagement/manageSitemap/Generate_Hypster_Featured" style=" display:block; width:100%; height:21px; background-color:#545454; margin-top:4px; ">Hypster Featured</a>

        
        <a href="/WebsiteManagement/manageSitemap/Generate_Hypster_MostViewed_Playlists" style=" display:block; width:100%; height:21px; background-color:#545454; margin-top:4px; ">Hypster Most Viewed Playlists</a>
        <a href="/WebsiteManagement/manageSitemap/Generate_Hypster_MostLiked_Playlists" style=" display:block; width:100%; height:21px; background-color:#545454; margin-top:4px; ">Hypster Most Liked Playlists</a>
        <a href="/WebsiteManagement/manageSitemap/Generate_Hypster_WithDesc_Playlists" style=" display:block; width:100%; height:21px; background-color:#545454; margin-top:4px; ">Hypster Playlists with Desc</a>

        

    </div>
   

</div>




<div style=" float:left; width:67%; min-height:630px; background-color:#353535; border-radius:3px; padding:1%; margin-left:1%; text-align:left; ">
       
</div>

