@model hypster_tv_DAL.videoFeaturedSlideshow

@{
    ViewBag.Title = "AddNewFeaturedVideo";
    Layout = "~/Views/Shared/_Layout_VideoManagement.cshtml";
}



<div style=" float:left; width:28%; min-height:300px; background-color:#353535; border-radius:3px; padding:1%; text-align:left;">
    
   <div style=" float:left; width:100%;">   
        <h2>Add New Featured Video</h2>
    </div>


    <div style=" float:left; width:100%; ">
    
        <!--div style=" float:left; width:100%; height:22px; margin-top:3px; background-color:#222222; color:#FFFFFF; cursor:pointer;">
            &nbsp;Itm 1
        </div-->

    </div>

</div>





<div style=" float:left; width:67%; min-height:550px; min-height:300px; background-color:#353535; border-radius:3px; padding:1%; margin-left:1%; text-align:left; ">
    
    @using (Html.BeginForm("AddNewFeaturedVideo", "featuredVideo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

       <text>Video Guid:<br /></text>
       @Html.TextBoxFor(m => m.Guid, new { @class = "txtFeaturedGUID" })
       <br /><br />

   
       <text>Add Image: (Min. Resolution: 621x376px)<br /></text>
       <input type="file" name="file" id="file" style=" width:560px; height:25px; border:1px solid #454545; background-color:#EEEEEE; color:#000000;" /><br />
       <br />

       <input type="submit" value="Add Featured Video" style=" width:220px;" /> 
       <input type="button" value="Cancel" onclick="window.location = '/VideoManagement/featuredVideo';" />
       
       @Html.ValidationSummary(true, "", new { @class = "txtValidator" }) 
   }
    
</div>